@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #000000   /*#5C7285 #80CBC4 #000000*/;
    --color-secundario: #f6f6f6 /*#E2E0C8 #FBF8EF #f6f6f6*/;
    --color-terciario:  #22D4FD /*#818C78 #B4EBE6 #22D4FD*/;
    --color-hover: #272727      /*#A7B49E #FFB433 #272727*/;
    
    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;
}

* { /*Cambio universal*/
    padding : 0;
    margin : 0;
}

body{
    /*height: 100vh; /*asociado a la meta name viewport en HTML head, que es la visualizacion de la pagina h=altura  100% de la altura*/
    box-sizing:border-box; /*Para que los hijos no salgan de la caja del padre*/
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header {
    padding: 2% 0% 0% 15%; /*5% lo saque del margin de .presentacion*/
}

.header__menu {
    display: flex; /*para poder usar abajo la propiedad gap*/
    gap: 80px;  
}

.header__menu__link {
    font-family: var(--fuente-montserrat); 
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.header__menu__link:hover {
    color: #112e4c;
}

.presentacion {
    padding: 5% 15%;  /*crea espacio dentro del elemento*/
    /*margin: 10% 15%;*/  /*crea espacio fuera del elemento*/
    display: flex;
    align-items: center; /*stretch | flex-start (por defecto) | flex-end | center(centralizar) | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe; */
    justify-content: space-between ;
    /*flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;*/
}

.presentacion__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario);  
}

.presentacion__contenido__texto {
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}

.presentacion__contenido__texto a{
    text-decoration: none;
    color: var(--color-terciario);
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column; /*Por defecto el valor el row cambiamos por column*/
    /*justify-content: center;*//*Sirve cuando es centrar con flex-direction: row*/
    align-items: center; /*se usa para centra en columna*/
    gap: 32px; /*espacio entre los botones*/
}

.presentacion__enlaces__subtitulo {
    font-family: var(--fuente-krona);
    font-weight: 400; /*regular*/
    font-size: 24px;    
}

.presentacion__enlaces__link {
    /*background-color: #22D4FD; */ /*quitamos el background azul y cambiamos color letra*/
    display:flex;
    justify-content: center; /*Flex en row por defecto osea linea, debo alinear horizontal*/
    gap: 10px;
    border: 2px solid var(--color-terciario); /*tamaño borde, estilo del borde,color*/
    width: 378px;
    text-align: center;
    border-radius: 8px;/* 16px bordes botones */
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;  /* Vr del vertical, Vr del horizontal */
    text-decoration: none;
    color: var(--color-secundario); /* #000000; */
    font-family: var(--fuente-montserrat);
   /*box-shadow: 10px 10px 5px rgba(206, 213, 206, 0.815);*/ /*quito la sombra a los botones*/
}

.presentacion__enlaces__link:hover {
background-color: var(--color-hover);
}

.footer {
    color: var(--color-primario);
    background-color: var(--color-terciario) ;
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 400;
}


